spring:
  config:
    name: clothing-store
  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      platform: postgresql
      continue-on-error: true
  session:
    timeout: 900s

server:
  port: 8890
  servlet:
    session:
      timeout: 15m

# JWT Configuration
app:
  jwt:
    secret: "mySuperSecretKeyForJWTGenerationInClothingStoreApplication2024"
    expiration: 86400000

analytics:
  revenue-statuses: DELIVERED,PROCESSING,SHIPPED
  order-count-statuses: PENDING,PROCESSING,SHIPPED,DELIVERED
# Swagger Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

logging:
  level:
    com.example.clothingstore: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: when_authorized
    prometheus:
      enabled: true
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
      step: 1m
      descriptions: true
      enable:
        all: true
        http.server.requests: true
      distribution:
         percentiles-histogram:
            http.server.requests: true
    tags:
      application: clothing-store